body {
  overflow: hidden;
  position: relative;
}

.menu {
  background: #202024 url('http://i.imgur.com/IqnHkSy.png') repeat left top;
  left: -200;  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 200;
}

.menu ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #636366;
  font-family: 'Open Sans', sans-serif;
  line-height: 50px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu a {
  color: #fff;  font-size: 12px;  text-decoration: none;  text-transform: uppercase;
}

.icon-close {
  cursor: pointer;  padding-left: 10px;  padding-top: 40px;
}

.icon-menu {
  color: #505050;  cursor: pointer;  font-family: 'Open Sans', sans-serif;
  font-size: 30px;  font-weight: 900;  padding-left: 25px;  padding-top: 0px;  padding-right: 25px;  text-decoration: none;  text-transform: uppercase;  position: fixed;
}

.jumbotron {
  background-image: url('http://i.imgur.com/g3RXt5L.jpg'); 
  height: 100%;
  -webkit-background-size: cover;     -moz-background-size: cover;       -o-background-size: cover;          background-size: cover;
}

.temp p {
  font-size: 50;
  height: 100%;
  padding-left: 15%;
  padding-right: 15%;
}